.footer {
  background-color: var(--primary-color);
  color: var(--white);
  padding: 50px 0 20px;
}

.footer-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-bottom: 40px;
}

.footer h2 {
  font-size: 24px;
  margin-bottom: 15px;
}

.footer h3 {
  font-size: 18px;
  margin-bottom: 15px;
  color: var(--accent-color);
}

.footer p {
  margin-bottom: 10px;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer p svg {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}

.footer-links ul li {
  margin-bottom: 10px;
}

.footer-links a,
.footer-social a {
  color: var(--white);
  transition: var(--transition);
}

.footer-links a:hover,
.footer-social a:hover {
  color: var(--accent-color);
}

.social-icons {
  display: flex;
  gap: 15px;
}

.social-icons a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: var(--transition);
}

.social-icons a svg {
  width: 20px;
  height: 20px;
}


.footer-bottom {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding-top: 20px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-bottom p a {
  color: var(--white);
  text-decoration: none;
  font-weight: bold;
}

.footer-bottom p a:hover {
  color: var(--accent-color);
}

@media (max-width: 992px) {
  .footer-content {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 576px) {
  .footer-content {
    grid-template-columns: 1fr;
  }

  .footer-bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
} 